.chevron {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.16s ease;
  transform-origin: center;
}

.chevronOpened {
  transform: rotate(-180deg);
}
